BoreholeTemperature.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:aasg="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/boreholetemperature/1.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gmlsf="http://www.opengis.net/gmlsf" targetNamespace="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/boreholetemperature/1.5" elementFormDefault="qualified" version="01.05">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf" schemaLocation="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<!-- This XSD document, including XML schema, indicates the content requested for temperature measurement data obtained from boreholes for the AASG geothermal data project.  Typically bottomhole temperatures are recorded from log headers, and this information will be provided through a borehole temperature observation service. The HeaderURI for a particular borehole (well for simple wells) is the cross-referencing link (foreign key) used to associate the header record, well logs, temperature measurements, and other information from a particular borehole.  Each measurement should have a unique ObservationURI. -->
		<!--Annotated version 1.5.2. This XSD document was created on 2011-09-16 by Celia Coleman, AZGS, and edited to include descriptive annotation by Christy Caudill 2013-04-10.  This schema is based on the data available in the AASG Web Feature Services created for the borehole temperatures in Arizona and California. Field Description annotations standardized 2013-08-22 by Esty Pape, AZGS. -->
		<xs:appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>
http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd </gmlsf:GMLProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="BoreholeTemperature" type="aasg:BoreholeTemperatureType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="BoreholeTemperatureType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="OBJECTID" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Integer record count, added by ArcGIS servers during service deployment; not required but cannot be removed when deploying from ArcGIS feature class. Not user maintained, so this element appears in XML implementation but not in the Content Model Template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObservationURI">
						<xs:annotation>
							<xs:documentation>Unique identifier for this observation record. This is the identifier (Uniform Resource Identifier) that will be used to cross-reference logs, samples and other observations to the well or borehole represented by this header. If available, the API (American Petroleum Institute) assigned number is the preferred well name reference. If an APINo is not available, observationURI should include one of the 'OtherID' values (below). If the API number indicates multiple instances of reentry, recompletion, sidetrack, etc., each instance is to have its own HeaderURI.  For example, the API number 42-501-20130-0300 indicates a well (42-501-20130) with three sidetracks, for a total of four total boreholes (-0000,-0100, -0200,-0300), each of which should have its own database record and HeaderURI.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="WellName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Common or human-readable name by which the feature is known. Recommend using only web-safe characters (a-z A-Z 0-9 _-.) in the name. Be consistent in the naming convention used within any given dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="APINo" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>API number for the the wellbore/borehole identified by the HeaderURI. If an API number is unavailable this field is empty. Usage of hyphens is optional, according to standard practice in each state. API number refers to the American Petroleum Institute number. Each oil, gas, or geothermal well drilled in the United States has a unique API number; this number identifies all boreholes or recompletions associated with the original wellbore. See the Data Valid Terms tab or http://www.spwla.org/technical/api-technical for more information about API numbering</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeaderURI">
						<xs:annotation>
							<xs:documentation>Unique identifier for this observation. This is the identifier (Uniform Resource Identifier) that will be used to cross-reference data, samples, and other observations to the observation represented by this record. Best practice is to define an http URI that will dereference to a normative description of the observation. USGIN URI's may be redirected to any URL using the http://resources.usgin.org redirector; contact the USGIN development team at AZGS for instructions.

							If the API number indicates multiple instances of reentry, recompletion, sidetrack, etc., each instance is to have its own HeaderURI.  For example, the API number 42-501-20130-0300 indicates a well (42-501-20130) with three sidetracks, for a total of four total boreholes (-0000,-0100, -0200,-0300), each of which should have its own database record and HeaderURI.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="OtherID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alternative identifier(s) for the feature. Indicate the authority from which the OtherID is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe '|' character. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the prefix would be azgs: and the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Other human-intelligible labels for feature such as secondary name or common name, other spellings. Indicate the authority from which the OtherName is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe character '|'. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BoreholeName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The human-intelligible name of the borehole identified by the HeaderURI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Label" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Short text string for labeling the feature on maps. Can be the same as feature name. A label may be an OtherLocationName, OtherID or the Name or some combination.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Operator" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of company/organization that is operating the well during the reporting period.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LeaseName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name or number of the lease of the well that contains the borehole identified by the HeaderURI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LeaseOwner" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Companies, individuals, or other entities who own the property. Separate multiple with a pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LeaseNo" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Lease number of the borehole identified by the HeaderURI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpudDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date on which drilling of the well bore began. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1' . If year is unknown, enter 1900. All dates will be converted to yyyy-mm-ddThh:mm. This is intended as a searching aid. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndedDrillingDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date on which drilling of the well bore ended. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1'. If year is unknown, enter 1900. All dates will be converted to yyyy-mm-ddThh:mm. This is intended as a searching aid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WellType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Type of well that contains the borehole identified by the HeaderURI, at the time indicated in the StatusDate element.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Status of the borehole at the time indicated in the StatusDate element. If unknown enter "unknown" in the field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommodityOfInterest" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The commodity of interest associated with the borehole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StatusDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The status of the feature can change from time to time, thus it is useful to know the date on which a given status was reported. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Function" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Functional characterization of the borehole identified by the HeaderURI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Production" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Term indicating the production results of the borehole identified by the HeaderURI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProducingInterval" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of producing interval or intervals in well; separate multiple interval names by '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReleaseDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date on which data for the borehole identified by the HeaderURI was, or will be, made public.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Field" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of the field in which the borehole is located. If multiple names are or have been used for the field, separate values with a pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherLocationName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Names of geographic features associated with the site that will be useful as search criteria to locate the information for this site. Separate multiple keywords with the pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="County" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. County name. If unknown or not applicable use 'missing'. If offshore, specify 'offshore' in this field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="State" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. State name without abbreviations. If unknown or not applicable use 'missing'. For offshore locations, specify the governing or nearest state and list the county as 'offshore'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PLSS_Meridians" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>List north-south baseline and east-west meridian that Townships and Ranges are referenced to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TWP" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Township in PLSS grid, relative to reported baseline. Formatting and punctuation should be consistent for all locations referenced to the same baseline and meridian. Recommend adding leading '0's so that all number strings are the same length (typically 2 or occasionally 3 digits). Examples 01N, 112S, 001N.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RGE" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Range in PLSS grid, relative to reported meridian. Formatting and punctuation should be consistent for all locations referenced to the same baseline meridian. See instructions on TWP field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Section_" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PLSS section number. Must be numeric or null. Some surveys include half sections indicated by a 'nn.5' designation, where n indicates a number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SectionPart" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Subdivision of a PLSS section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Parcel" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Legal parcel identifier, or block number, or other location identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTM_E" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>UTM easting coordinate as decimal number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTM_N" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>UTM northing coordinate as decimal number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTMDatumZone" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The datum and UTM zone for the reported coordinates. Datum for most locations should be NAD27 or NAD83.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Latitude coordinate for the surface location of the feature (use center point for areas); values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LongDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Longitude coordinate for the surface location of the feature (use center point for areas); values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SRS" type="xs:string">
						<xs:annotation>
							<xs:documentation>The spatial reference system. It is recommended that an EPSG code be used to identify the SRS used to specify the location. If an EPSG code is used, identify it as such with the prefix 'EPSG:' EPSG:4326 is the identifier for WGS84, and should be the text in this field. EPSG stands for European Petroleum Survey Group. EPSSG codes can be dereferenced by putting the code in this URL (replace 4326) http://spatialreference.org/ref/epsg/4326/.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationUncertaintyStatement" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information on how the original location was determined, e.g.: 1:250,000 map, gps unit, Google Earth, PLSS Conversion, Spatial Datum Conversion, e.g., NAD27 to WGS84.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationUncertaintyCode" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A controlled vocabulary term or code value specifying the location confidence, e.g. 1 = reported, 2= surveyed, 3= GPS. If such a code list or vocabulary is used, it must be added to the 'Data Valid Terms' sheet to enumerate the possible values and their meaning</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationUncertaintyRadius" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Radius (in meters) of circle of confidence for location. Ideally might represent some specific confidence criteria like 'radius of circle around reported location which which true location lies with 95% confidence', but such precision is rarely available.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DrillerTotalDepth" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Length of borehole, from borehole origin to bottom of borehole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepthReferencePoint" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The point of reference against which elevation measurements are made. Best practice: use mean sea level (MSL) as datum.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LengthUnits" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Valid choices for units = Meters or Feet. If depth is reported as 'surface' or 'missing', select 'meters'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WellBoreShape" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Term used to indicate the overall shape of the borehole identified by the HeaderURI, e.g. vertical, inclined down, curved, horizontal, inclined up, unknown.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TrueVerticalDepth" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vertical distance from bottom hole point to elevation of borehole origin.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElevationKB" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elevation at kelly bushing for the feature. 3 decimal places is recommended by the USGS (OFR 02-463, p.6). Elevations should be reported relative to mean sea level (MSL).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElevationDF" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elevation at drilling floor for the feature. 3 decimal places is recommended by the USGS (OFR 02-463, p.6). Elevations should be reported relative to mean sea level (MSL).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElevationGL" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Elevation at ground level at the well collar location. 3 decimal places is recommended by the USGS (OFR 02-463, p.6). Elevations should be reported relative to mean sea level (MSL).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormationTD" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of geologic unit at the bottom of the well or borehole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BitDiameterCollar" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Bit diameter at the origin of the borehole, reported in decimal format.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BitDiameterTD" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Bit diameter at the bottom of the borehole, reported in decimal format.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiameterUnits" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Units of length used to specify diameters in this record. Inches  or centimeters, in decimal units.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Any additional information to be provided, including description and other data not captured by the template, details about collection method, contact information for related parties (original collector, project PI), collection platform or Launch, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumRecordedTemperature" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>For clarity, it is assumed that one temperature will be recorded as a bottom hole temperature, therefore, the "MeasuredTemperature" field should be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasuredTemperature" type="xs:double">
						<xs:annotation>
							<xs:documentation>Report temperture here if instrument records temperature and depth; this may be the same value as reported in the maximum temperature column; if a value is reported here, a DepthOf Measurement value must be reported. At least one Maximum or Measured Temperature is required.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CorrectedTemperature" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report the corrected formation temperature in this field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TemperatureUnits" type="xs:string">
						<xs:annotation>
							<xs:documentation>Report temperatures in either degrees Fahrenheit or Celsius. Use same units throughout this document.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeSinceCirculation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Time since circulation of drilling fluid stopped, in decimal hours. Made string to enable text (e.g., units or less than, more than qualifiers).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CirculationDuration" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Time that hole was circulated after drilling stopped, in decimal hours; (not available in many cases).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasurementProcedure" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CorrectionType" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Please add your correction type name and a brief description of the correction method used for this.  Use this term to populate the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepthOfMeasurement" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Valid choices for units = Meters or Feet, in decimal format. If depth is reported as 'surface' or 'missing', select 'meters'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasurementDateTime" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date for the record: date on which observation, measurement or test was made or specimen was collected. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasurementFormation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name of geologic unit from which temperature was measured. Include hierarchy of names if the unit is part of a higher-rank geologic unit, e.g. Group name/Formation name, or Formation/Member, or Group/ Formation. Spell out unit names in full.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasurementSource" type="xs:string">
						<xs:annotation>
							<xs:documentation>Mandatory. Short text explanation of source of information defining this feature or record; may be author-date type citation, well log, report, data files etc., but should include some indication of how digital data originated. If unpublished data, provide researcher name, date and research institution for proper citation. Separate multiple citations with pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelatedResource" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This may be one to many http links to resources (logs, pictures or other documents if available online. Should be an http:// address (URL)) related to the observation described in each record. Delimit multiple values with the pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingLogger" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The deepest cased depth encountered during a log run in the borehole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingBottomDepthDriller" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Bottom of cased interval of the borehole as reported by the driller.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingTopDepth" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Top of cased interval of the borehole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingPipeDiameter" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Diameter of the casing.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingWeight" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Casing pipe weight per length installed in the borehole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingWeightUnits" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Units for the reported Casing Weight.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CasingThickness" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Thickness Casing pipe installed in the borehole. Units must be same as diameter units specified in this record. If multiple pipe thicknesses used,  these should be separated by the pipe character '|'. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DrillingFluid" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Name or type of fluid used during drilling.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Salinity" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Salinity of the drilling fluid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MudResistivity" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Resistivity of the drilling fluid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Density" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Mud weight.  The density of the drilling fluid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FluidLevel" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The depth, or distance from surface, that the fluid in a well incapable of natural flow will reach under static conditions;.reported in same units as reported in LengthUnits.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pH" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Report the pH of the drilling fluid (no units) in standard pH format.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Viscosity" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The viscosity of the drilling fluid; resistance to flow.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FluidLoss" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Leakage of the liquid phase of drilling fluid containing solid particles into the formation matrix.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasurementNotes" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Additional notes regarding the measurement(s).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InformationSource" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Mandatory. Short text explanation of source of information defining this feature or record; may be author-date type citation, well log, report, data files etc., but should include some indication of how digital data originated. If unpublished data, provide researcher name, date and research institution for proper citation. Separate multiple citations with pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
